node_modules
client/package-lock.json
client/package.json
client/postcss.config.js
client/src/App.jsx
client/tailwind.config.js
client/.env
server/.env
.vscode/

# Ignored package files
package-lock.json
package.json
uploads
